@import '_variables';

.btn-play {
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Arial;
  margin: 0 auto;
  color: $bgDefault;
  border-radius:0;
  text-align: center;
  font-size: 18px;
  background-color: $bgHighlight;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  &:hover, &focus {
      color: #fefefe;
    background-color: darken($bgHighlight, 5%);
    text-decoration: none;
  }
  .active {
    color:#fefefe;
    background: $wrap-bg;
  }
}

.selected {
  // position:absolute;
  // white-space: nowrap;;
  width: 35px;
  height: 35px;
  border-radius:50%;
  background-color: $stamp !important;
  transition: all .3s ease;
}
