/* Vendor imports */
.navbar-default {
  background-color: #ffffff;
  border-color: #00bcad;
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
}

.navbar-default .navbar-brand {
  color: #000000;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #333;
}

.navbar-default .navbar-text {
  color: #000000;
}

.navbar-default .navbar-nav > li > a {
  color: #000000;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #333;
}

.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #ffffff;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #000000;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover, .navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #333;
  background-color: #00bcad;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #00bcad;
}

.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #333;
  background-color: #00bcad;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #333;
  background-color: #00bcad;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #333;
  background-color: #00bcad;
}

.navbar-default .navbar-toggle {
  border-color: #00bcad;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #00bcad;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #000000;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #000000;
}

.navbar-default .navbar-link {
  color: #000000;
}

.navbar-default .navbar-link:hover {
  color: #333;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #000000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #333;
    background-color: #00bcad;
  }
}

.btn-play {
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Arial;
  margin: 0 auto;
  color: #ffffff;
  border-radius: 0;
  text-align: center;
  font-size: 18px;
  background-color: #00bcad;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn-play:hover, .btn-playfocus {
  color: #fefefe;
  background-color: #00a396;
  text-decoration: none;
}

.btn-play .active {
  color: #fefefe;
  background: #FCEE71;
}

.selected {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #ef4f67 !important;
  transition: all .3s ease;
}

.reasons li {
  font-size: 20px;
}

/* App imports */
section {
  background-color: red;
  background-image: -webkit-linear-gradient(bottom, red, orange);
  background-image: linear-gradient(to top,red, orange);
}

h2 {
  text-align: center;
}

.border-dash {
  padding: 0;
  text-align: center;
  margin: 10px auto;
  margin-top: 14px;
  width: 100%;
  border: 1px dashed #888;
}

.bigNumberDisplay {
  font-size: 4em;
  text-align: center;
}

.numbersTable {
  width: 660px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 1.6em;
  padding: 20px;
  text-align: center;
  background: #FCEE71;
}

.bingo {
  width: 600px;
  margin-top: 30px;
  opacity: 0.5;
  margin: 0 auto;
}

.bingo div {
  display: inline-table;
}

.bingo div > div {
  cursor: pointer;
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  padding-top: 4px;
  margin-top: 5px;
  background-color: #fefefe;
}

.bingo div > div:hover {
  background-color: #f1f1f1;
}

.bingo div div.leftover {
  display: flex;
  height: 130px;
  width: 80px;
  color: #fff;
  border-radius: 0px;
  justify-content: center;
  font-size: 1.3em;
  line-height: 1em;
  padding: 17px;
  background-color: #00bcad;
}

.togo {
  position: relative;
  float: right;
}

#newgame {
  margin: 0 auto;
  text-align: center;
}

@media (min-width: 768px) {
  .border-dash {
    width: 600px;
  }
}

@media (max-width: 768px) {
  .numbersTable {
    margin-top: 10px;
    max-width: 430px;
    width: 100%;
    font-size: 1.2em;
  }
  .numbersTable .bingo {
    max-width: 406px;
    width: 100%;
    margin-left: 0;
  }
  .numbersTable .bingo div > div {
    width: 29px;
    height: 29px;
  }
  .numbersTable .bingo div.leftover {
    height: 97px;
    width: 61px;
    padding: 8px;
    font-size: 1.5em;
  }
  .tablet-inline {
    margin-top: -15px;
  }
  .bigNumberDisplay {
    background-color: #eee;
    max-width: 430px;
    width: 100%;
    height: 93px;
    padding-top: 15px;
    margin: 0 auto;
  }
  .bigNumberDisplay span {
    margin-top: -9px;
  }
}

@media (max-width: 420px) {
  .bingo-container {
    padding-left: 4px;
    padding-right: 4px;
  }
  .numbersTable {
    font-size: 0.9em;
    width: 95%;
    padding-top: 10px;
  }
  .numbersTable .bingo {
    width: 100%;
    text-align: left;
    padding-left: 10px;
  }
  .numbersTable .bingo div > div {
    width: 20px;
    height: 20px;
    padding-top: 2px;
  }
  .numbersTable .bingo div.leftover {
    position: relative;
    height: 69px;
    width: 44px;
    text-align: center;
    border-width: 1px;
    padding: 4px;
    font-size: 1.5em;
  }
  .bigNumberDisplay {
    width: 95%;
  }
  .togo {
    margin-right: 9px;
  }
}
